numpy==1.26.4
pandas==2.2.3
scipy==1.14.1
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.67.1
pyyaml==6.0.2
requests==2.32.3
pyarrow==18.1.0
biopython==1.84
jupyterlab==4.3.5
ipykernel==6.29.5
pytest==8.3.5
rdkit==2024.3.6
transformers==4.48.3
sentencepiece==0.2.0
lightning==2.5.0.post0
rich==13.9.4
